<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         mapTestClassNameToCoveredClassName="true"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP__DATABASE_NAME" value="phpunit_test" />
    </php>

    <testsuites>
        <testsuite name="Corus Framework Test Suit">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
